.container {
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 200px;
  height: 400px;
  margin: auto;
  margin-top: 200px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  color: #1976d2;
  font-size: 15px;
}

.submit-btn {
  background-color: #1976d2;
  border-color: transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
